body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

/* Wettercode-Bild oben rechts */
.weather-image {
    position: absolute;
    top: 5vw;
    right: 5vw;
    width: 7vw;
    height: auto;
    display: none;
}

.wurst-image {
    position: absolute;
    width: 2vw;
    height: auto;
    display: none;
}

.dynamic-wurst {
    position: absolute;
    width: 2vw;
    height: auto;
    animation-duration: 10s;
    animation-timing-function: linear;
}

/* Animiert das Bild von links nach rechts */
@keyframes moveRight {
    from {
        left: -10vw;
    }
    to {
        left: 110vw;
    }
}

/* Animiert das Bild von rechts nach links */
@keyframes moveLeft {
    from {
        left: 110vw;
    }
    to {
        left: -10vw;
    }
}

h1 {
    position: absolute;
    bottom: 18vw;
    left: 5vw;
    font-family: 'Kadwa';
    font-size: 64px;
    margin: 0;
    color: #000;
}

#dataDisplay {
    font-family: 'Kadwa';
    font-size: 24px; /* Passe die Schriftgröße nach Bedarf an */
    color: #000; /* Passe die Textfarbe an */
    position: absolute;
    bottom: 9vw;
    left: 5vw;
}

#fetchControls {
    position: absolute;
    bottom: 7vw; /* Abstand vom unteren Rand */
    left: 5vw;   /* Gleicher Abstand von der linken Seite wie bei h1 */
    font-family: 'Kadwa'; /* Gleiche Schriftart */
    font-size: 18px; /* Passe die Schriftgröße an */
}

#fetchControls input {
    margin: 10px;
    padding: 5px;
    font-size: 18px;
}

#fetchButton {
    margin: 10px;
    padding: 5px 10px;
    font-size: 18px;
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#fetchButton:hover {
    background-color: white;
}
