body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    cursor: none; /* Versteckt den Standard-Cursor */
}

/* Wettercode-Bild oben rechts */
.weather-image {
    position: absolute;
    top: 5vw;
    right: 5vw;
    width: 9vw;
    height: auto;
    display: none;
    z-index: 1; /* Sicherstellen, dass das Wetterbild über den Bratwürsten ist */
}

.wurst-image {
    position: absolute; /* Absolute Positionierung für die Bratwürste */
    width: 2vw;
    height: auto;
    z-index: -1; /* Setzt die Bratwürste hinter andere Elemente */
}

/* Schriftarten */
@font-face {
    font-family: 'KadwaBold';
    src: url('fonts/Kadwa-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'KadwaRegular';
    src: url('fonts/Kadwa-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Titel */
h1 {
    position: absolute;
    bottom: 16vw;
    left: 5vw;
    font-family: 'KadwaBold';
    font-size: 64px;
    margin: 0;
    color: #000;
    z-index: 1; /* Sicherstellen, dass der Titel über den Bratwürsten ist */
}

/* Platzhalter für den Satz */
#dataDisplay {
    font-family: 'KadwaRegular';
    font-size: 24px;
    color: #000;
    position: absolute;
    bottom: 11vw;
    left: 5vw;
    line-height: 1.2;
    z-index: 1; /* Sicherstellen, dass der Platzhalter über den Bratwürsten ist */
}

/* Eingabefelder für Datum und Uhrzeit sowie Button */
#fetchControls {
    position: absolute;
    bottom: 7vw;
    left: -0.8vw;
    margin-left: 5vw;
    font-family: 'Kadwa';
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: auto;
    z-index: 1; /* Sicherstellen, dass die Steuerungselemente über den Bratwürsten sind */
}

/* Rundes Design für Input-Felder und Button */
#fetchControls input {
    padding: 10px;
    font-size: 18px;
    width: 140px;
    font-family: 'Kadwa';
    border-radius: 20px;
    border: 1px solid #000;
}

#fetchButton {
    padding: 10px 20px;
    font-size: 18px;
    background-color: white;
    color: black;
    border: 1px solid #000;
    cursor: pointer;
    border-radius: 20px;
    font-family: 'Kadwa';
}

#fetchButton:hover {
    background-color: #c6c4c4;
}

/* Hover-Effekte für den Senftube */
#fetchControls:hover ~ #senftube,
#fetchButton:hover ~ #senftube {
    display: none;
}

/* Senftube */
#senftube {
    position: absolute;
    width: 2.5vw !important;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 1; /* Sicherstellen, dass der Senftube über den Bratwürsten ist */
}
